#  Python data Structures and Boolean
•	Boolean                                                                                                                    
•	Boolean And logical Operators                                                                                                •	List                                                                                                                        
•	Comparision Operatots                                                                                                      
•	Dictionaries                                                                                                               
•	Tuples

# Boolean Variables:
Boolean variables are two constant objects False and True.

In [17]:
test = 5.0
print(test)

5.0

In [18]:
type(test)

float

In [19]:
bool()

False

In [3]:
print(True, False)

True False

In [4]:
type(False)

bool

In [28]:
my_str = "A"

In [22]:
my_str

'Dhanu Reddy'

In [29]:
my_str.isalnum()

True

In [30]:
my_str.isalpha()

True

In [31]:
my_str.isdigit()

False

In [32]:
my_str.istitle()

True

# Boolean and Logical Operators

In [11]:
True and False

False

In [10]:
True or False

True

In [34]:
(True or False) and True

True

# Lists
A list is a data structure in python that is mutable, or changeable, ordered sequence of elements.Each element or value that is inside of a list is called an item.Just as strings are defined as charaters between quotes. Lists ate defined by having values between square brackets[].

In [12]:
lst_exp = []

In [13]:
type(lst_exp)

list

In [15]:
lst = list()

In [16]:
lst

[]

In [35]:
lst = ['one', 'two', 10, 20, 31, 45]

In [36]:
lst

['one', 'two', 10, 20, 31, 45]

In [37]:
lst.append('ten')

In [38]:
lst

['one', 'two', 10, 20, 31, 45, 'ten']

In [22]:
lst.append(['five', 'six'])

In [23]:
lst

['one', 'two', 10, 20, 31, 45, 'ten', ['five', 'six']]

In [24]:
lst[3]

20

In [25]:
lst[1:4]

['two', 10, 20]

# Insert

In [26]:
lst.insert(1,'reddy')

In [27]:
lst

['one', 'reddy', 'two', 10, 20, 31, 45, 'ten', ['five', 'six']]

In [28]:
lst.extend(['eight', 'nine'])

In [29]:
lst

['one',
 'reddy',
 'two',
 10,
 20,
 31,
 45,
 'ten',
 ['five', 'six'],
 'eight',
 'nine']

# pop

In [30]:
lst.pop()

'nine'

In [31]:
lst

['one', 'reddy', 'two', 10, 20, 31, 45, 'ten', ['five', 'six'], 'eight']

In [32]:
lst.pop(0)

'one'

In [33]:
lst

['reddy', 'two', 10, 20, 31, 45, 'ten', ['five', 'six'], 'eight']

In [34]:
lst=[1,1,2,3,4,5]

In [35]:
lst.count(1)

2

In [36]:
len(lst)

6

In [37]:
lst.index(1,0,4)

0

In [38]:
min(lst)

1

In [39]:
max(lst)

5

In [40]:
sum(lst)

16

In [41]:
lst*2

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]

# Sets
A set is an unordered collection data type that is iterable, mutable and has no dulicate elements. Python's set class represents the mathematical notion of a set. This is based on a data structure known as hash table.

In [45]:
##defining an empty set
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [47]:
set_var = {'avengers', 'ironman', 'hitman', 'superman'}
print(set_var)
type(set_var)

{'hitman', 'superman', 'avengers', 'ironman'}

set

In [49]:
set_var.add('hulk')

In [51]:
set1 = {'avengers', 'ironman', 'hitman'}
set2 = {'avengers', 'ironman', 'hitman', 'superman'}

In [52]:
set2.difference(set1)

{'superman'}

In [54]:
set2.difference_update(set1)

In [55]:
set2

{'superman'}

# Dictionaries
A dictionary is a collection which is unordered, changeable and indexed. in python dictionaries are written with curly brackets, and they have keys and values.

In [60]:
dic = {}

In [61]:
type(dic)

dict

In [62]:
dic = {1,2,3,4,5,6,7}

In [63]:
type(dic)

set

In [2]:
# let's create a dictiorary
my_dict = {"car1":"Audi", "car2":"BMW", "Car3":"Benz"}

In [3]:
type(my_dict)

dict

In [5]:
# we can even loop through dictionaries keys
for x in my_dict:
    print(x)

car1
car2
Car3

In [77]:
for x in my_dict.values():
    print(x)

Audi
BMW
Benz

In [81]:
#we can also check both keys and values
for x in my_dict.items():
    print(x)

('car1', 'Audi')
('car2', 'BMW')
('Car3', 'Benz')

In [83]:
# Adding items to dictionary
my_dict['cars4'] = 'Audi 2.0'

In [84]:
my_dict

{'car1': 'Audi', 'car2': 'BMW', 'Car3': 'Benz', 'cars4': 'Audi 2.0'}

# Nested Dictionaries

In [85]:
car1_model = {"Benz" : 1960}
car2_model = {"Audi" : 1970}
car3_model = {"Ambassador" : 1980}
car_type = {'car1':car1_model, 'car2': car2_model, 'car3': car3_model}

In [86]:
car_type

{'car1': {'Benz': 1960}, 'car2': {'Audi': 1970}, 'car3': {'Ambassador': 1980}}

In [87]:
type(car_type)

dict

In [88]:
## Accessing the item from the dictonary
print(car_type['car1'])

{'Benz': 1960}

In [89]:
print(car_type['car1']['Benz'])

1960

# Tuples
Tuples are immutable, once created they cannot be modified.
Only reason we go with tuple is senario where the definition of an item is required just one time.

In [90]:
## Create a empty tuple
my_tuple = tuple()

In [91]:
type(my_tuple)

tuple

In [92]:
my_tuple = ()

In [93]:
type(my_tuple)

tuple

In [6]:
my_tuple = ('venkat', 'ram', 'lashman')

In [7]:
my_tuple[0]

'venkat'

In [8]:
# Tuple is immutable, it does not have a methods like add/inset/append to add new data.
my_tuple.add('raghu')
my_tuple.insert('raghu')
my_tuple.append('raghu')
my_tuple[0] = 'Dhanu'

AttributeError: 'tuple' object has no attribute 'add'